# # Workflow is based on the Astropy GitHub actions workflow, ci_workflows.yml

name: CI

on:
  push:
    branches:
      - '*'

  pull_request:
    branches:
      - '*'

jobs:
  tests:
    name: Unit tests
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        include:

          - os: ubuntu-latest
            python-version: '3.13'
            numpy-version: '<2.3'
            scipy-version: '<1.17'
            astropy-version: '<8.0'
            matplotlib-version: '<4.0'

          - os: ubuntu-latest
            python-version: '3.12'
            numpy-version: '<2.2'
            scipy-version: '<1.16'
            astropy-version: '<7.0'
            matplotlib-version: '<3.10'

          - os: ubuntu-latest
            python-version: '3.11'
            numpy-version: '<2.1'
            scipy-version: '<1.15'
            astropy-version: '<7.0'
            matplotlib-version: '<3.9'

          - os: ubuntu-latest
            python-version: '3.10'
            numpy-version: '<2.0'
            scipy-version: '<1.12'
            astropy-version: '<6.1'
            matplotlib-version: '<3.9'

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip wheel setuptools
          python -m pip install pytest pytest-astropy pyyaml
          python -m pip install 'numpy${{ matrix.numpy-version }}'
          python -m pip install 'scipy${{ matrix.scipy-version }}'
          python -m pip install 'matplotlib${{ matrix.matplotlib-version }}'
          python -m pip install 'astropy${{ matrix.astropy-version }}'

      - name: Install DESI-specific software
        run: |
          python -m pip install speclite desiutil desimodel

      - name: Run the test
        run: pytest

  coverage:
    name: Test coverage
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version: ['3.10']

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip wheel setuptools
          python -m pip install pytest pytest-astropy pyyaml coveralls
          python -m pip install numpy\<1.23 scipy\<1.9 matplotlib\<3.9 astropy\<6.1

      - name: Install DESI-specific software
        run: |
          python -m pip install speclite desiutil desimodel

      - name: Run the test with coverage
        run: pytest --cov

      - name: Coveralls
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
        run: coveralls

  docs:
    name: Doc test
    runs-on: ${{ matrix.os }}
    strategy:
        fail-fast: false
        matrix:
            os: [ubuntu-latest]
            python-version: ['3.10']

    steps:
        - name: Checkout code
          uses: actions/checkout@v6

        - name: Set up Python ${{ matrix.python-version }}
          uses: actions/setup-python@v6
          with:
            python-version: ${{ matrix.python-version }}

        - name: Install Python dependencies
          run: |
            python -m pip install --upgrade pip wheel setuptools Sphinx sphinx-astropy
            python -m pip install -e .[docs]

        - name: Test the documentation
          run: sphinx-build -W --keep-going -b html docs docs/_build/html

  style:
    name: Style test
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
          os: [ubuntu-latest]
          python-version: ['3.10']

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Python dependencies
        run: python -m pip install --upgrade pip wheel setuptools flake8

      - name: Test the style; failures are not allowed
        # This is equivalent to an allowed falure.
        # continue-on-error: true
        run: flake8 specsim --count --max-line-length=100
